[Unit]
Description=Grafana agent
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=sh -c "stat /run/grafana-agent-linux-amd64.zip 1>/dev/null 2>&1 || wget https://github.com/grafana/agent/releases/download/v0.37.2/grafana-agent-linux-amd64.zip -P /run"
ExecStartPre=sh -c "stat /run/grafana-agent-linux-amd64 1>/dev/null 2>&1 || unzip /run/grafana-agent-linux-amd64.zip -d /run"
ExecStartPre=chmod a+x /run/grafana-agent-linux-amd64
ExecStartPre=mv /run/grafana-agent-linux-amd64 /usr/bin
ExecStartPre=/var/wait-for-prom-ready.sh
ExecStart=/usr/bin/grafana-agent-linux-amd64 \
            -config.file=/var/agent.yaml \
            -metrics.wal-directory="/home/ubuntu/data"
