---
{%- set testing = testing is defined and testing.casefold() in ["1", "yes", "true"] %}
bundle: kubernetes
name: lma-light
description: >
  LMA 2 'Light' observability stack on Kubernetes:
  A light-weight, highly-integrated, Juju-based observability stack for Logs, Metrics and Alerts.
applications:
  alertmanager:
    charm: {{ alertmanager|default('alertmanager-k8s') }}
    scale: 1
    trust: true
    {%- if alertmanager is defined and alertmanager.endswith('.charm') %}
    resources:
        alertmanager-image: "ubuntu/prometheus-alertmanager"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  prometheus:
    charm: {{ prometheus|default('prometheus-k8s') }}
    scale: 1
    trust: true
    {%- if prometheus is defined and prometheus.endswith('.charm') %}
    resources:
      prometheus-image: "ubuntu/prometheus:latest"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  grafana:
    charm: {{ grafana|default('grafana-k8s') }}
    scale: 1
    trust: true
    {%- if grafana is defined and grafana.endswith('.charm') %}
    resources:
      grafana-image: "ubuntu/grafana:latest"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  loki:
    charm: {{ loki|default('loki-k8s') }}
    scale: 1
    trust: true
    {%- if loki is defined and loki.endswith('.charm') %}
    resources:
      loki-image: "grafana/loki"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  {%- if testing %}
  tester:
    charm: {{ tester|default('lma-tester') }}
    scale: 1
    trust: true
    {%- if tester is defined and tester.endswith('.charm') %}
    resources:
      lma-tester-image: "ghcr.io/sed-i/lma-tester-alerts:main"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  {%- endif %}

relations:
- - prometheus:alertmanager
  - alertmanager:alerting
- - grafana:grafana-source
  - prometheus:grafana-source
- - grafana:grafana-source
  - loki:grafana-source
- - prometheus:metrics-endpoint
  - tester:metrics-endpoint

{% if testing -%}
--- # overlay.yaml
applications:
  alertmanager:
    offers:
      alertmanager-karma-dashboard:
        endpoints:
          - karma-dashboard
  grafana:
    offers:
      grafana-dashboards:
        endpoints:
          - grafana-dashboard
  loki:
    offers:
      loki-logging:
        endpoints:
        - logging
  prometheus:
    offers:
      prometheus-scrape:
        endpoints:
        - metrics-endpoint
{% endif -%}
