---
bundle: kubernetes
name: cos-lite
description: >
  COS Lite is a light-weight, highly-integrated, observability stack running on Kubernetes
website: https://github.com/canonical/cos-lite-bundle
issues: https://github.com/canonical/cos-lite-bundle/issues
docs: https://discourse.charmhub.io/t/canonical-observability-stack/5132

applications:
  traefik:
    charm: {{ traefik|default('traefik-k8s', true) }}
    scale: 1
    trust: true
    {%- if traefik is defined and traefik.endswith('.charm') %}
    resources:
        traefik-image: "docker.io/ubuntu/traefik:2-22.04"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}
  alertmanager:
    charm: {{ alertmanager|default('alertmanager-k8s', true) }}
    scale: 1
    trust: true
    {%- if alertmanager is defined and alertmanager.endswith('.charm') %}
    resources:
        alertmanager-image: "docker.io/ubuntu/alertmanager:0-22.04"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}
  prometheus:
    charm: {{ prometheus|default('prometheus-k8s', true) }}
    scale: 1
    trust: true
    {%- if prometheus is defined and prometheus.endswith('.charm') %}
    resources:
      prometheus-image: "docker.io/ubuntu/prometheus:2-22.04"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}
  grafana:
    charm: {{ grafana|default('grafana-k8s', true) }}
    scale: 1
    trust: true
    {%- if grafana is defined and grafana.endswith('.charm') %}
    resources:
      grafana-image: "docker.io/ubuntu/grafana:9-22.04"
      litestream-image: "docker.io/litestream/litestream:0.4.0-beta.2"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}
  catalogue:
    charm: {{ catalogue|default('catalogue-k8s', true) }}
    scale: 1
    trust: true
    {%- if catalogue is defined and catalogue.endswith('.charm') %}
    resources:
      catalogue-image: "ghcr.io/canonical/catalogue-k8s-operator:dev"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}
    options:
      title: Canonical Observability Stack
      tagline: Model-driven Observability Stack deployed with a single command.
      description: |
        Canonical Observability Stack Lite, or COS Lite, is a light-weight, highly-integrated,
        Juju-based observability suite running on Kubernetes.
  loki:
    charm: {{ loki|default('loki-k8s', true) }}
    scale: 1
    trust: true
    {%- if loki is defined and loki.endswith('.charm') %}
    resources:
      loki-image: "docker.io/ubuntu/loki:2-22.04"
    {%- else %}
    channel: {{ channel|default('1/edge', true) }}
    {%- endif %}

relations:
- [traefik:ingress-per-unit, prometheus:ingress]
- [traefik:ingress-per-unit, loki:ingress]
- [traefik:traefik-route, grafana:ingress]
- [traefik:ingress, alertmanager:ingress]
- [prometheus:alertmanager, alertmanager:alerting]
- [grafana:grafana-source, prometheus:grafana-source]
- [grafana:grafana-source, loki:grafana-source]
- [grafana:grafana-source, alertmanager:grafana-source]
- [loki:alertmanager, alertmanager:alerting]
# COS-monitoring
- [prometheus:metrics-endpoint, traefik:metrics-endpoint]
- [prometheus:metrics-endpoint, alertmanager:self-metrics-endpoint]
- [prometheus:metrics-endpoint, loki:metrics-endpoint]
- [prometheus:metrics-endpoint, grafana:metrics-endpoint]
- [grafana:grafana-dashboard, loki:grafana-dashboard]
- [grafana:grafana-dashboard, prometheus:grafana-dashboard]
- [grafana:grafana-dashboard, alertmanager:grafana-dashboard]
# Service Catalogue
- [catalogue:ingress, traefik:ingress]
- [catalogue:catalogue, grafana:catalogue]
- [catalogue:catalogue, prometheus:catalogue]
- [catalogue:catalogue, alertmanager:catalogue]
