---
bundle: kubernetes
applications:
  alertmanager:
    charm: {{ alertmanager|default('alertmanager-k8s') }}
    scale: 1
    {%- if alertmanager is defined and alertmanager.endswith('.charm') %}
    resources:
        alertmanager-image: "ubuntu/prometheus-alertmanager"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  prometheus:
    charm: {{ prometheus|default('prometheus-k8s') }}
    scale: 1
    {%- if prometheus is defined and prometheus.endswith('.charm') %}
    resources:
      prometheus-image: "ubuntu/prometheus:latest"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  grafana:
    charm: {{ grafana|default('grafana-k8s') }}
    scale: 1
    {%- if grafana is defined and grafana.endswith('.charm') %}
    resources:
      grafana-image: "ubuntu/grafana:latest"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  loki:
    charm: {{ loki|default('loki-k8s') }}
    scale: 1
    {%- if loki is defined and loki.endswith('.charm') %}
    resources:
      loki-image: "grafana/loki"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}
  tester:
    # charmhub: lma-tester
    # local: ./../lma-tester/lma-tester_ubuntu-20.04-amd64.charm
    charm: {{ tester|default('lma-tester') }}
    scale: 1
    {%- if tester is defined and tester.endswith('.charm') %}
    resources:
      lma-tester-image: "ghcr.io/sed-i/lma-tester-alerts:main"
    {%- else %}
    channel: {{ channel|default('edge') }}
    {%- endif %}

relations:
- - prometheus:alertmanager
  - alertmanager:alerting
- - grafana:grafana-source
  - prometheus:grafana-source
- - grafana:grafana-source
  - loki:grafana-source
- - prometheus:metrics-endpoint
  - tester:metrics-endpoint


--- # overlay.yaml
applications:
  alertmanager:
    offers:
      alertmanager-karma-dashboard:
        endpoints:
          - karma-dashboard
  grafana:
    offers:
      grafana-dashboards:
        endpoints:
          - grafana-dashboard
  loki:
    offers:
      loki-logging:
        endpoints:
        - logging
  prometheus:
    offers:
      prometheus-scrape:
        endpoints:
        - metrics-endpoint
