[Unit]
Description=pod top exporter (metrics endpoint)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=/var/wait-for-prom-ready.sh
Environment=FLASK_APP=/var/pod_top_exporter.py
ExecStart=flask run -p 29101 --host 0.0.0.0
