[Unit]
Description=pod top logger (to journald)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStartPre=/run/wait-for-prom-ready.sh
ExecStart=/run/cos-lite-pod-top.sh
