name: Periodic integration matrix tests

on:
  schedule:
    # every Wednesday at 23:00
    - cron: '0 23 * * WED'
  workflow_dispatch:


jobs:
  integration-test-microk8s-pull-request:
    name: Integration tests (microk8s)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        charm-channel: [ "edge", "beta", "candidate", "stable" ]
        juju-channel: [ "2.9/stable", "3.0/stable", "3.1/stable" ]
        include:
          - juju-channel: "2.9/stable"
            juju-agent-version: "2.9.34"
            microk8s-channel: "1.25/stable"
          - juju-channel: "3.0/stable"
            juju-agent-version: "3.0.2"
            microk8s-channel: "1.25-strict/stable"
          - juju-channel: "3.1/stable"
            juju-agent-version: "3.1.0"
            microk8s-channel: "1.25-strict/stable"
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Get prefsrc
      run: |
        echo "IPADDR=$(ip -4 -j route get 2.2.2.2 | jq -r '.[] | .prefsrc')" >> $GITHUB_ENV
    - name: Setup operator environment
      uses: charmed-kubernetes/actions-operator@main
      with:
        juju-channel: ${{ matrix.juju-channel }}
        provider: microk8s
        channel: ${{ matrix.microk8s-channel }}
        microk8s-addons: "hostpath-storage dns metallb:${{ env.IPADDR }}-${{ env.IPADDR }}"
        bootstrap-options: "--agent-version ${{ matrix.juju-agent-version }}"
    - name: Run tests (${{ matrix.charm-channel }} charms, juju ${{ matrix.juju-channel }}, microk8s ${{ matrix.microk8s-channel }})
      run: tox -e integration -- --channel=${{ matrix.charm-channel }}
